name: Upstream Sync
on:
  schedule:
    - cron: '0 0 * * *'  # 每天0点执行
  workflow_dispatch:     # 支持手动触发
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Sync with upstream
        run: |
          git remote add upstream https://github.com/blackmatrix7/ios_rule_script.git
          git fetch upstream
          git checkout main
          git merge upstream/main
          git push origin main
